*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: block;
    background-color: #555;
    color :#fff;
}

form{
    display: block;
    margin-left: 15px;
    margin-top: 15px;
}

input{
    padding: 5px;
    background-color:#222;
    color:#fff;
}

#main {
    max-width: 300px;
    padding: 16px;
    border-radius: 12px;
    background-color: #2b2b2b;
    border: 1px solid #333;
}


#Profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
}

#Profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h3{
    margin-top: 5px;
}

h5{
    margin-top: 5px;
}

p{
    margin-top: 5px;
}